/* Layout Base */

body {
  min-width: 0;
}



/* Content */

%contentStylePhone {
  width: auto;
}

.content {
  @extend %contentStylePhone;
}

.emplymentDate {
  display: block;
  margin: .25em 0 0;
  white-space: normal;
}


/* Header */

.headerContent {
  @extend %contentStylePhone;
}



/* Footer */

.footer {
  text-align: left;
}



/* Contacts */

.contacts {

  .footer & {
    display: block;
    margin: 0;

    dt, dd {
      display: block;
    }

    dt {
      float: left;
      margin: 0 .25em 0 0;
    }

  }

}


