// Colors

$white: #fff;
$red: #d9534f;
$blue: #337ab7;
$blueDark: #23527c;
$purple: #6f5499;
$gray: #ccc;
$grayLight: #bebebe;
$green: #007236;
$greenLight: #39b54a;
$greenLightAlt: #8dc63f;
$greenLightest: #6fe47f;
$black: #333;

$underlineOpacity: .5;



// Default Colors

$text: $black;
$link: $blue;
$visited: $purple;
$hover: $blueDark;
$active: $red;
$focus-outlineColor: $gray;

$background: $white;

$selection-color: $white;
$selection-background: $blue;

$print-color: $gray;
$print-colorAlt: $black;
$print-background: $white;
