/*** uncss> filename: dev/res/css/styles.css ***/

/* Baseline Styles, Typography & Rhythm */

html {
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5rem;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  -epub-hyphens: manual;
  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
  color: #333;
  font-family: "Segoe UI", Roboto, "Droid Sans", "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
  -webkit-font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
}

footer,
header {
  display: block;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  text-rendering: auto;
  page-break-after: avoid;
  -webkit-break-after: avoid;
  -moz-break-after: avoid;
  break-after: avoid;
  orphans: 3;
  widows: 3;
}

h1 {
  margin: 24px 0 48px;
  margin: 1.5rem 0 3rem;
  font-size: 32px;
  font-size: 2rem;
  line-height: 48px;
  line-height: 3rem;
}

h2 {
  margin: 24px 0;
  margin: 1.5rem 0;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 48px;
  line-height: 3rem;
}

h3 {
  margin: 24px 0;
  margin: 1.5rem 0;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 24px;
  line-height: 1.5rem;
}

h4 {
  margin: 24px 0;
  margin: 1.5rem 0;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem;
}

p,
dl,
ul,
li {
  margin: 24px 0;
  margin: 1.5rem 0;
}

dt {
  margin: 24px 0 0;
  margin: 1.5rem 0 0;
  font-weight: bold;
}

dd {
  margin: 0 0 24px 1.5em;
  margin: 0 0 1.5rem 1.5em;
  font-style: italic;
}

ul {
  list-style-type: disc;
}

/* Lists Reset */

/* Image Blocker */

/* Visually Hidden */

/* Layout Base */

html {
  min-height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  min-width: 580px;
  max-width: 1920px;
  min-height: 100%;
  margin: 0 auto;
  overflow-x: auto;
  overflow-y: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  position: relative;
  padding: 0;
  background: #fff;
}

/* Content */

.content,
.headerContent,
.footerContent {
  width: 580px;
  padding: 0 30px;
  margin: 0 auto;
}

.resumeNote {
  color: #6fe47f;
}

.emplymentDate {
  display: block;
  color: #bebebe;
  white-space: nowrap;
}

/* Header */

.header,
.footer {
  color: #fff;
  background: #007236;
  background: -webkit-linear-gradient(60deg, #007236, #39b54a);
  background: linear-gradient(30deg, #007236, #39b54a);
}

.header a,
.footer a {
  color: #6fe47f;
  -webkit-text-decoration-color: rgba(111, 228, 127, 0.5);
  -moz-text-decoration-color: rgba(111, 228, 127, 0.5);
  text-decoration-color: rgba(111, 228, 127, 0.5);
}

.header a:hover,
.footer a:hover,
.header a:active,
.footer a:active {
  color: #fff;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.5);
  -moz-text-decoration-color: rgba(255, 255, 255, 0.5);
  text-decoration-color: rgba(255, 255, 255, 0.5);
}

.header .phoneLink,
.footer .phoneLink {
  color: #fff;
  text-decoration: none;
  cursor: default;
}

.header .phoneLink:visited,
.footer .phoneLink:visited,
.header .phoneLink:hover,
.footer .phoneLink:hover,
.header .phoneLink:active,
.footer .phoneLink:active {
  color: #fff;
}

.header {
  padding: 48px 0;
  padding: 3rem 0;
}

/* Footer */

.footer {
  margin: 72px 13.6px 0 0;
  margin: 4.5rem 13.6px 0 0;
  padding: 24px 13.6px 24px 0;
  padding: 1.5rem 13.6px 1.5rem 0;
  font-size: 13.6px;
  font-size: 0.85rem;
  line-height: 24px;
  line-height: 1.5rem;
  text-align: center;
  white-space: nowrap;
}

/* Conatcts */

.contacts dt,
.contacts dd {
  margin: 0;
}

.contacts dt {
  margin: 0 0.5em 6px 0;
  margin: 0 0.5em 0.375rem 0;
  float: left;
  clear: left;
  font-weight: normal;
}

.contacts dt:after {
  display: relative;
  content: ":";
  position: inline;
}

.contacts dd {
  margin: 0 0 6px;
  margin: 0 0 0.375rem;
  font-style: normal;
}

.footer .contacts {
  display: inline-block;
  margin: 0;
}

.footer .contacts dt,
.footer .contacts dd {
  display: inline-block;
  float: none;
}

.footer .contacts dt {
  margin: 0 .25em 0 1.5em;
}

/* Selection */

::-moz-selection {
  color: #fff;
  background: #337ab7;
}

::selection {
  color: #fff;
  background: #337ab7;
}

/* Focus */

a:focus {
  outline: 1px dotted #ccc;
}

/* Fast Touch */

a {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* Links */

a {
  color: #337ab7;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(51, 122, 183, 0.5);
  -moz-text-decoration-color: rgba(51, 122, 183, 0.5);
  text-decoration-color: rgba(51, 122, 183, 0.5);
  -webkit-transition: color 0.15s, text-decoration-color 0.15s;
  transition: color 0.15s, text-decoration-color 0.15s;
}

a:visited {
  color: #6f5499;
  -webkit-text-decoration-color: rgba(111, 84, 153, 0.5);
  -moz-text-decoration-color: rgba(111, 84, 153, 0.5);
  text-decoration-color: rgba(111, 84, 153, 0.5);
}

a:hover {
  color: #d9534f;
  -webkit-text-decoration-color: rgba(217, 83, 79, 0.5);
  -moz-text-decoration-color: rgba(217, 83, 79, 0.5);
  text-decoration-color: rgba(217, 83, 79, 0.5);
}

a:active {
  color: #23527c;
  -webkit-text-decoration-color: rgba(35, 82, 124, 0.5);
  -moz-text-decoration-color: rgba(35, 82, 124, 0.5);
  text-decoration-color: rgba(35, 82, 124, 0.5);
}

/* Forms */

input::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* Custom Forms */

/* Buttons */

/* HDPI UI */

/* Large Resolution UI */

/* Tablet UI */

/* Phone UI */

/* Print Typography */

@media print {
  /* Links */

  a[href^='mailto:']:after,
  a[href^='tel:']:after {
    content: '';
  }

  a {
    color: #333;
    text-decoration: none;
  }

  a:after {
    content: " (" attr(href) ")";
    font-size: 90%;
  }

  a:visited {
    color: #333;
  }
}

/* TV UI */

/* Audio UI */

/*# sourceMappingURL=styles.css.map */

/*** uncss> filename: dev/res/css/print.css ***/

@media print {
  /* Typography & Rhythm */

@page {
    size: A4;
    margin: .5cm;
}

  html,
  body {
    background: #fff;
  }

  body {
    color: #333;
    font-size: 12pt;
    line-height: 1.5;
  }

  p {
    orphans: 3;
    widows: 3;
  }

  /* Layout Base */

  body {
    width: auto;
    min-width: 0;
    max-width: none;
    padding: 2.54cm;
  }

  /* Links */

  a[href^='mailto:']:after,
  a[href^='tel:']:after {
    content: '';
  }

  a {
    color: #333;
    text-decoration: none;
  }

  a:after {
    content: " (" attr(href) ")";
    font-size: 90%;
  }

  a:visited {
    color: #333;
  }
}

/*# sourceMappingURL=print.css.map */
