/* Typography & Rhythm */

html {
  font-size: 100%;
  line-height: 1.5em;
}

body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
}

footer, header {
  display: block;
}

a {
  color: #337ab7;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(51, 122, 183, .5);
  -moz-text-decoration-color: rgba(51, 122, 183, .5);
  text-decoration-color: rgba(51, 122, 183, .5);
  -webkit-transition: .25s;
  transition: .25s;
}

a:visited {
  color: #6f5499;
  -webkit-text-decoration-color: rgba(111, 84, 153, .5);
  -moz-text-decoration-color: rgba(111, 84, 153, .5);
  text-decoration-color: rgba(111, 84, 153, .5);
}

a:hover {
  color: #23527c;
  -webkit-text-decoration-color: rgba(35, 82, 124, .5);
  -moz-text-decoration-color: rgba(35, 82, 124, .5);
  text-decoration-color: rgba(35, 82, 124, .5);
}

a:active {
  color: #23527c;
  -webkit-text-decoration-color: rgba(35, 82, 124, .5);
  -moz-text-decoration-color: rgba(35, 82, 124, .5);
  text-decoration-color: rgba(35, 82, 124, .5);
}

a:focus {
  outline: 1px dotted #cccccc;
}

h1, h2, h3 {
  font-weight: bold;
  text-rendering: auto;
  page-break-after: avoid;
  orphans: 3;
  widows: 3;
}

h1 {
  margin: 1.5em 0 .75em;
  font-size: 2em;
  line-height: 1.5em;
}

h2 {
  margin: 1em 0;
  font-size: 1.5em;
  line-height: 2em;
}

h3 {
  margin: 1.09091em 0;
  font-size: 1.375em;
  line-height: 1.09091em;
}

p, dl, ul, li {
  margin: 1.5em 0;
}

p, li, dd {
  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
}

dt {
  margin: 1.5em 0 0;
  font-weight: bold;
}

dd {
  margin: 0 0 1.5em 1.5em;
  font-style: italic;
}

ul {
  list-style-type: disc;
}

/* Phone Typography */

@media handheld, only screen and (max-width: 720px) {
  /* Typography & Rhythm */
}

/* Print Typography */

@media print {
  /* Typography & Rhythm */

  @page {
    margin: 0;
  }

  html, body {
    background: #ffffff;
  }

  body {
    width: 100%;
    max-width: none;
    padding: 0;
    margin: 0;
    color: #cccccc;
    font-size: 12pt;
    line-height: 18pt;
  }

  a {
    color: #cccccc;
    text-decoration: none;
  }

  a:after {
    content: " (" attr(href) ")";
    font-size: 90%;
  }

  a:visited {
    color: #cccccc;
  }

  p {
    orphans: 3;
    widows: 3;
  }
}

/* Layout Base */

html {
  -webkit-overflow-scrolling: touch;
  min-height: 100%;
}

body {
  position: relative;
  overflow-x: auto;
  overflow-y: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  min-width: 640px;
  min-height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  background: #ffffff;
}

/* Content */

.content, .headerContent, .footerContent {
  width: 580px;
  padding: 0 30px;
  margin: 0 auto;
}

.resumeNote {
  color: #6fe47f;
}

.emplymentDate {
  color: #bebebe;
  white-space: nowrap;
}

/* Header */

.header, .footer {
  color: #ffffff;
  background: #007236;
  background: -webkit-linear-gradient(60deg, #007236, #39b54a);
  background: linear-gradient(30deg, #007236, #39b54a);
}

.header a, .footer a {
  color: #6fe47f;
  -webkit-text-decoration-color: rgba(111, 228, 127, .5);
  -moz-text-decoration-color: rgba(111, 228, 127, .5);
  text-decoration-color: rgba(111, 228, 127, .5);
}

.header a:visited, .footer a:visited {
  color: #6fe47f;
  -webkit-text-decoration-color: rgba(111, 228, 127, .5);
  -moz-text-decoration-color: rgba(111, 228, 127, .5);
  text-decoration-color: rgba(111, 228, 127, .5);
}

.header a:hover, .footer a:hover, .header a:active, .footer a:active {
  color: #ffffff;
  -webkit-text-decoration-color: rgba(255, 255, 255, .5);
  -moz-text-decoration-color: rgba(255, 255, 255, .5);
  text-decoration-color: rgba(255, 255, 255, .5);
}

.header .phoneLink, .footer .phoneLink {
  color: #ffffff;
  text-decoration: none;
  cursor: default;
}

.header .phoneLink:visited, .footer .phoneLink:visited, .header .phoneLink:hover, .footer .phoneLink:hover, .header .phoneLink:active, .footer .phoneLink:active {
  color: #ffffff;
}

.header {
  padding: 3em 0;
}

.header h1 {
  border: none;
  margin: 0;
  color: #ffffff;
  font-size: 4em;
  line-height: 1.125em;
}

/* Footer */

.footer {
  padding: 1.76471em 0;
  margin: 5.29412em 0 0;
  font-size: .85em;
  text-align: center;
  line-height: 1.76471em;
  white-space: nowrap;
}

/* Conatcts */

.contacts dt, .contacts dd {
  margin: 0;
}

.contacts dt {
  float: left;
  clear: left;
  margin: 0 .5em .375em 0;
  font-weight: normal;
}

.contacts dt:after {
  position: relative;
  content: ":";
  display: inline;
}

.contacts dd {
  margin: 0 0 .375em;
  font-style: normal;
}

.footer .contacts {
  display: inline-block;
  margin: 0;
}

.footer .contacts dt, .footer .contacts dd {
  display: inline-block;
  float: none;
}

.footer .contacts dt {
  margin: 0 .25em 0 1.5em;
}

/* Large Resolution Layout */

@media only screen and (min-width: 641px) {
  .columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .columns li {
    padding: .375em 0 .375em 1.5em;
    margin: 0;
    break-inside: avoid;
    page-break-inside: avoid;

    -webkit-column-break-inside: avoid;
  }

  .columns li:before {
    margin: .35em 0 0;
  }
}

/* Phone Layout */

@media handheld, only screen and (max-width: 640px) {
  /* Layout Base */

  body {
    min-width: 0;
  }

  /* Content */

  .content, .headerContent {
    width: auto;
  }

  .emplymentDate {
    display: block;
    margin: .25em 0 0;
    white-space: normal;
  }

  /* Header */

  .header h1 {
    font-size: 3em;
    line-height: 1em;
  }

  /* Footer */

  .footer {
    text-align: left;
  }

  /* Contacts */

  .footer .contacts {
    display: block;
    margin: 0;
  }

  .footer .contacts dt, .footer .contacts dd {
    display: block;
  }

  .footer .contacts dt {
    float: left;
    margin: 0 .25em 0 0;
  }
}