/* Typography & Rhythm */

html {
	font-size: 100%;
	line-height: 1.5em;
}

body {
	color: #000000;
	background: #ffffff;
	font-family: "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
}

::-webkit-selection {
	color: #ffffff;
	background: #0000ff;
}

::-moz-selection {
	color: #ffffff;
	background: #0000ff;
}

::selection {
	color: #ffffff;
	background: #0000ff;
}

footer, header {
	display: block;
}

a {
	color: #39b54a;
	text-decoration: underline;
}

a:visited {
	color: #39b54a;
}

a:hover {
	color: #8dc63f;
	text-decoration: none;
}

a:active {
	color: #8dc63f;
}

a:focus {
	outline: 1px dotted #bebebe;
}

h1, h2, h3 {
	font-weight: bold;
	page-break-after: avoid;
	orphans: 3;
	widows: 3;

	text-rendering: optimizelegibility;
}

h1 {
	padding: 0 0 .375em;
	border-bottom: 1px solid #bebebe;
	margin: 1.5em 0 .75em;
	color: #007236;
	font-size: 2em;
	line-height: 1.125em;
}

h2 {
	margin: 2.18182em 0 1.09091em;
	color: #007236;
	font-size: 1.375em;
	line-height: 1.36364em;
}

h2 a {
	color: #007236;
}

h2 a:hover, h2 a:active {
	color: #007236;
}

h3 {
	margin: 1.30435em 0;
	font-size: 1.15em;
	line-height: 1.30435em;
}

p, dl, ul {
	margin: 1.5em 0;
}

p, li, dd {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

dt {
	margin: 1.5em 0 0;
	font-weight: bold;
}

dd {
	margin: 0 0 1.5em 1.5em;
	font-style: italic;
}

ul {
	padding: 0;
	list-style-type: none;
}

ul li {
	position: relative;
	padding: 0 0 0 1.5em;
}

ul li:before {
	position: absolute;
	top: .65em;
	left: .5em;
	content: "";
	display: block;
	width: 5px;
	height: 5px;
	background: #bebebe;
	border-radius: 50%;
}

li {
	margin: .75em 0;
}

input::-moz-focus-inner, button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

/* High DPI Typography */

@media only screen and (min-resolution: 1.5dppx), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 150dpi) {
	html {
		text-rendering: optimizelegibility;
	}
}

/* Layout Base */

html {
	-webkit-overflow-scrolling: touch;
	min-height: 100%;
}

body {
	position: relative;
	overflow-x: auto;
	overflow-y: scroll;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	margin: 0;
}

/* Content */

.content, .headerContent, .footerContent {
	width: 640px;
	margin: 0 auto;
}

.header, .footer {
	color: #ffffff;
	background: #007236;
	background: -webkit-linear-gradient(60deg, #007236, #39b54a);
	background: linear-gradient(30deg, #007236, #39b54a);
}

.header a, .footer a {
	color: #6fe47f;
}

.header .phoneLink, .footer .phoneLink {
	color: #ffffff;
	text-decoration: none;
	cursor: default;
}

.header .phoneLink:hover, .header .phoneLink:active, .footer .phoneLink:hover, .footer .phoneLink:active {
	color: #ffffff;
}

.header {
	padding: 3em 0;
}

.header h1 {
	border: none;
	margin: 0;
	color: #ffffff;
	font-size: 4em;
	line-height: 1.125em;
}

.resumeNote {
	color: #6fe47f;
}

.emplymentDate {
	color: #bebebe;
	white-space: nowrap;
}

.contacts dt, .contacts dd {
	margin: 0;
}

.contacts dt {
	float: left;
	clear: left;
	margin: 0 .5em .375em 0;
	font-weight: normal;
}

.contacts dt:after {
	position: relative;
	content: ":";
	display: inline;
}

.contacts dd {
	margin: 0 0 .375em;
	font-style: normal;
}

.footer .contacts {
	display: inline-block;
	margin: 0;
}

.footer .contacts dt, .footer .contacts dd {
	display: inline-block;
	float: none;
}

.footer .contacts dt {
	margin: 0 .25em 0 1.5em;
}

.footer {
	padding: 1.76471em 0;
	margin: 5.29412em 0 0;
	font-size: .85em;
	text-align: center;
	line-height: 1.76471em;
	white-space: nowrap;
}

/* Phone Layout */

@media handheld, only screen and (max-width: 599px) {
	.content, .headerContent, .footerContent {
		width: auto;
		padding: 0 30px;
	}

	.header, .footer {
		background: #007236;
	}

	.emplymentDate {
		display: block;
		margin: .25em 0 0;
		white-space: normal;
	}

	.footer .contacts {
		display: block;
		margin: 0;
	}

	.footer .contacts dt, .footer .contacts dd {
		display: block;
	}

	.footer .contacts dt {
		float: left;
		margin: 0 .25em 0 0;
	}

	.footer {
		text-align: left;
	}
}

/* Large Screen Layout */

@media handheld, only screen and (min-width: 600px) {
	.columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}

	.columns li {
		padding: .375em 0 .375em 1.5em;
		margin: 0;
		break-inside: avoid;
		page-break-inside: avoid;

		-webkit-column-break-inside: avoid;
	}

	.columns li:before {
		margin: .35em 0 0;
	}
}
