<!-- @tx-process:include head/_head.html --><!-- /@tx-process -->

  <body>
    <header class="headerPDF">
      <h1>Илья Бирюков <span class="occupation">Front-end разработчик</span></h1>
      <dl class="contacts">
        <dt>E-mail</dt><dd><a href="mailto:uncle.funkay@gmail.com?subject=Резюме">uncle.funkay@gmail.com</a></dd>
        <dt>Телефон</dt><dd>+7 918 211-37-92</dd>
        <dt>Skype</dt><dd>buzz_Killingt0n</dd>
        <dt>GitHub</dt><dd><a href="https://github.com/uncleF">https://github.com/uncleF</a></dd>
      </dl>
    </header>
  </body>

</html>
