@import "project/project";



// Layout



/* Layout Base */

html {
  min-height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  @include tx-set-boundaries($min-width);
  @include tx-scroll-bar(true);
  position: relative;
  background: $background;
}



/* Content */

%contentStyle {
  width: ($min-width - $gap * 2);
  margin: 0 auto;
  padding: 0 $gap;
}

.content {
  @extend %contentStyle;
}

.resumeNote {
  $resumeNote-color: $greenLightest;

  color: $resumeNote-color;
}

.emplymentDate {
  $emplymentDate-color: $grayLight;

  color: $emplymentDate-color;
  white-space: nowrap;
}



/* Header */

%headerFooterStyle {
  $headerFooter-color: $white;
  $headerFooter-backgroundStart: $green;
  $headerFooter-backgroundEnd: $greenLight;

  color: $headerFooter-color;
  background: $headerFooter-backgroundStart;
  background: linear-gradient(30deg, $headerFooter-backgroundStart, $headerFooter-backgroundEnd);

  a {
    $hedaerFooter-link: $greenLightest;
    $hedaerFooterHover-link: $white;

    color: $hedaerFooter-link;
    text-decoration-color: rgba($hedaerFooter-link, $underlineOpacity);

    &:visited {
      color: $hedaerFooter-link;
      text-decoration-color: rgba($hedaerFooter-link, $underlineOpacity);
    }

    &:hover, &:active {
      color: $hedaerFooterHover-link;
      text-decoration-color: rgba($hedaerFooterHover-link, $underlineOpacity);
    }

  }

  .phoneLink {
    $phoneLink-color: $white;

    color: $phoneLink-color;
    text-decoration: none;
    cursor: default;

    &:visited, &:hover, &:active {
      color: $phoneLink-color;
    }

  }

}

.header {
  @extend %headerFooterStyle;
  @include tx-rhythm-padding(2, 2);

  h1 {
    $headerHeader-fontSize: $font-size * 4;
    $headerHeader-color: $white;

    @include tx-font-size($headerHeader-fontSize, 3);
    margin: 0;
    color: $headerHeader-color;
    border: none;
  }

}

.headerContent {
  @extend %contentStyle;
}



/* Footer */

.footer {
  $footer-fontSize: $font-size * .85;

  @extend %headerFooterStyle;
  @include tx-rhythm(3, 0, $footer-fontSize);
  @include tx-rhythm-padding(1, 1, $footer-fontSize);
  @include tx-font-size($footer-fontSize, 1);
  text-align: center;
  white-space: nowrap;
}

.footerContent {
  @extend %contentStyle;
}



/* Conatcts */

.contacts {

  dt, dd {
    margin: 0;
  }

  dt {
    float: left;
    @include tx-rhythm(0, .25, $mrgt: .5em);
    font-weight: normal;
    clear: left;

    &:after {
      @include tx-pseudo(inline, relative, ":");
    }

  }

  dd {
    @include tx-rhythm(0, .25);
    font-style: normal;
  }

  .footer & {
    @include tx-inline-block;
    margin: 0;

    dt, dd {
      float: none;
      @include tx-inline-block;
    }

    dt {
      margin: 0 .25em 0 1.5em;
    }

  }

}



/* High DPI Layout */

@media only screen and (min-resolution: 1.5dppx), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 150dpi) {}



/* Large Resolution Layout */

@media only screen and (min-width: 641px) {

  .columns {
    column-count: 2;

    li {
      margin: 0;
      @include tx-rhythm-padding(.25, .25, $plft: 1.5em);
      break-inside: avoid;

      &:before {
        margin: .35em 0 0;
      }

    }

  }

}



/* Phone Layout */

@media handheld, only screen and (max-width: 640px) {

  @import "phone/layout-phone";

}

@media only screen and (max-width: 720px) and (min-resolution: 1.5dppx), only screen and (max-width: 720px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 720px) and (min--moz-device-pixel-ratio: 1.5), only screen and (max-width: 720px) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (max-width: 720px) and (min-device-pixel-ratio: 1.5), only screen and (max-width: 720px) and (min-resolution: 150dpi) {}



/* Tablet Layout */

@media only screen and (min-width: 721px) and (max-width: $min-width) {}

@media only screen and (min-width: 721px) and (max-width: $min-width) and (min-resolution: 1.5dppx), only screen and (min-width: 721px) and (max-width: $min-width) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 721px) and (max-width: $min-width) and (min--moz-device-pixel-ratio: 1.5), only screen and (min-width: 721px) and (max-width: $min-width) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-width: 721px) and (max-width: $min-width) and (min-device-pixel-ratio: 1.5), only screen and (min-width: 721px) and (max-width: $min-width) and (min-resolution: 150dpi) {}



/* Print Layout */

@media print {

  @import "print/layout-print";

}



/* TV Layout */

@media projection, tv {}



/* Audio Layout */

@media aural {}
