@import "tx/tx";
@import "tx/tx-project";



// Print

@media print {
	$print-color: $gray;
	$print-colorAlt: $black;
	$print-bg: $white;

	@page {
		margin: 0;
	}

	body {
		margin: 0;
		padding: 0;
		color: $print-color;
		background: $print-bg;
		font-size: 12pt;
		line-height: 18pt;
	}

	a {
		color: $print-color !important;
		text-decoration: none;

		&:visited {
			color: $print-color;
		}

	}

	h1, h2, h3 {
		color: $print-colorAlt;
	}

	h2 {

		a {

			&:after {
				content: " (" attr(href) ")";
			}

		}

	}

	acronym, abbr, ins, del, var, input, select, textarea {
		color: $print-color;
		text-decoration: none;
		border: none;
	}

	abbr[title] {

		&:after {
			content: " (" attr(title) ")";
		}

	}

	p {
		orphans: 3;
		widows: 3;
	}

	blockquote, pre, img, tr {
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}



	/* Layout */

	.content, .headerContent, .footerContent {
		width: auto;
		padding: 0 $gap;
	}

	.header {
		@include tx-rhythm-padding(1, 0);
		color: $print-color;
		background: none;

		h1 {
			color: $print-colorAlt;
		}

	}

	.resumeNote {
		color: $print-color;
	}

	.footer, .doNotPrint {
		display: none;
	}

}
