@import "project/project";



// Print



/* Print Layout */

@media print {

  /* Typography & Rhythm */

  @page {
    margin: 0;
  }

  html, body {
    background: $print-background;
  }

  body {
    width: 100%;
    max-width: none;
    padding: 0;
    margin: 0;
    color: $print-color;
    font-size: 12pt;
    line-height: 18pt;
  }

  a {
    color: $print-color;
    text-decoration: none;

    &:after {
      content: " (" attr(href) ")";
      font-size: 90%;
    }

    &:visited {
      color: $print-color;
    }

  }

  %javascriptHREFStyle {

    &:after {
      content: "";
    }

  }

  [href^="javascript:"] {
    @extend %javascriptHREFStyle;
  }


  [href^="#"] {
    @extend %javascriptHREFStyle;
  }

  acronym, abbr, ins, del, var, input, select, textarea {
    border: 0;
    color: $print-color;
    text-decoration: none;
  }

  p {
    orphans: 3;
    widows: 3;
  }

  blockquote, pre, img, tr {
    page-break-inside: avoid;
  }

  [title] {

    &:after {
      content: " (" attr(title) ")";
    }

  }

  thead {
    display: table-header-group;
  }

}

