<h2>О себе</h2>
<p>Front end разработчик с дипломом факультета прикладной математики, 8-мью годами опыта и глубоким пониманием процесса и трудностей современной разработки. Имею опыт прототипирования и построения интерфейсов (сайты, приложения, e-mail, IPTV, интерактивные выставочные комплексы). Опыт в управлении проектами и разработке native-приложений для iOS и Android. Крайне озабочен вопросами эффективности процесса разработки, собственной продуктивности и профессионального роста.</p>
<ul>
  <li>Умение находить эффективные решения для возникающих проблем.</li>
  <li>Быстрая обучаемость.</li>
  <li>Чистый и понятный код.</li>
  <li>Способность работать в команде.</li>
  <li>Всегда в курсе последних событий индустрии front end разработки.</li>
  <li>Разговорный английский.</li>
</ul>
<h3>Компетентен в:</h3>
<ul class="columns">
  <li>Адаптивном веб-дизайне (Responsive Web Design)</li>
  <li>Разработке для мобильных платформ</li>
  <li>Разработке одностраничных веб-приложений</li>
  <li>Верстке e-mail-шаблонов</li>
  <li>Разработке интерфейсов для систем IPTV</li>
  <li>Разработке лэндингов</li>
  <li>Интерфейсе современных браузеров</li>
  <li>Юзабилити</li>
  <li>Кросс-браузерной совместимости</li>
  <li>Оптимизации производительности front end'а</li>
  <li>Оптимизации в рамках Critical Rendering Path</li>
  <li>Прогрессивном совершенствовании (Progressive Enhancement) / Плавном упрощении (Graceful Degradation)</li>
  <li>Доступности</li>
  <li>Соответствии W3C стандартам</li>
  <li>Управлении веб-контентом</li>
  <li>Управлении проектами</li>
</ul>
<h3>Навыки</h3>
<ul>
  <li>HTML5, CSS3 (Sass), JavaScript (JQuery, Backbone.js, Three.js, etc.), SVG (Snap.svg, Raphael)</li>
  <li>Аудит производительности и доступности сайтов и веб-приложений (npm, RubyGems, веб-приложения и пр.)</li>
  <li>Node.js (npm, Grunt, Bower), XML</li>
  <li>Unity</li>
  <li>PHP, SQL</li>
  <li>Java, Objective-C</li>
</ul>
<h3>Инструменты</h3>
<ul>
  <li>Собственный открытый <a href="https://github.com/uncleF/TemplateX">инструмент</a> (мини-фреймфорк ) для быстрого развертывания среды разработки.</li>
  <li>Sublime Text, Eclipse, Xcode, Android Studio</li>
  <li>Grunt, Bower, Gulp, Apache Ant</li>
  <li>Adobe Photoshop, Sketch, Pixelmator, Adobe Illustrator, Adobe Flash, Sketca SVG Editor, Inkscape</li>
  <li>Ghostlab, <a href="https://litmus.com">Litmus</a></li>
  <li>Basecamp, InVision, Megaplan, Toggl Desktop</li>
  <li>Git, <a href="https://github.com/">GitHub</a>, <a href="https://bitbucket.org/">BitBucket</a></li>
  <li>Wordpress, Drupal</li>
</ul>
<h2>Предыдущие места работы</h2>
<h3>Фриланс <span class="emplymentDate">Март 2014 - По настоящее время</span></h3>
<h4>Front end разработчик и консультант</h4>
<ul>
  <li>Разработал множество сайтов и веб-приложений.</li>
  <li>Работал волонтером на <a href="http://fbk.info/">Фонд Борьбы с Коррупцией</a>. Приходилось выполнять достаточно сложные, нетривиальные задачи в крайне сжатые сроки.</li>
  <li>Создал инструмент на основе Grunt для автоматической сборки шаблонов для пропроитарного генератора лэндингов.</li>
  <li>Консультировал клиентов по вопросам производительности и доступности front end'а.</li>
</ul>
<h3><a href="http://spider.ru/">Digital-агентство Spider Group</a> <span class="emplymentDate">Февраль 2008 - Март 2014</span></h3>
<h4>Старший front end разработчик — <span class="emplymentDate">Январь 2012 - Март 2014</span></h4>
<ul>
  <li>Разработал множество сайтов и веб-приложений. В том числе и <a href="http://topliga.ru/">высоко нагруженный интернет-магазин</a>.</li>
  <li>С нуля спроектировал интерфейс <a href="https://itunes.apple.com/us/app/fingo.-furniture.-try-before/id567070760?mt=8">коммерческого iOS-приложения</a>.</li>
  <li>Проектировал и разрабатывал интерфейсы нескольких интерактивных выставочных комплексов.</li>
  <li>Отвечал за создание среды и организацию процесса front end разработки.</li>
  <li>Создал несколько инструментов для автоматизации некоторых аспектов процесса разработки.</li>
  <li>Консультировал коллег и клиентов по вопросам касающимся front end разработки.</li>
  <li>Получил опыт в управлении проектами и разработке native-приложений для iOS и Android.</li>
</ul>
<h4>Front end разработчик — <span class="emplymentDate">Февраль 2008 - Январь 2012</span></h4>
<ul>
  <li>Разработал множество сайтов и веб-приложений используя несколько CMS (на основе PHP и Python).</li>
  <li>Работал над <a href="http://www.kuban.ru/">высоко нагруженным региональным информационным порталом</a>.</li>
  <li>Участвовал в разработке интерфейсов интерактивных выставочных комплексов.</li>
  <li>Сверстал множество e-mail шаблонов.</li>
</ul>
<h3><a href="http://kubic.ru/">Кубанская Интернет Компания</a> <span class="emplymentDate">Декабрь 2006 - Август 2007</span></h3>
<h4>Front end разработчик</h4>
<ul>
  <li>Первые профессиональные шаги в качестве штатного front end разработчика.</li>
  <li>Разработал множество сайтов используя проприетарную CMS (на основе Perl).</li>
  <li>Работал над двумя высоко нагруженными проектами — <a href="http://www.yuga.ru/">региональным новостным порталом</a> и <a href="http://www.diary.ru/">социальной сетью</a>.</li>
</ul>
<h3>Freelance <span class="emplymentDate">До декабря 2006</span></h3>
<ul>
  <li>Front end разработчик</li>
  <li>Бессчетное число плохих сайтов на бесплатных хостингах...</li>
</ul>
<h2>Образование</h2>
<p>Диплом факультета прикладной математики <a href="http://www.kubsu.ru/">Кубанского Государственного Университета</a>.</p>
<div class="doNotPrint">
<h2>Примеры работ</h2>
<!-- @tx-process:include _links.html --><!-- /@tx-process -->
</div>
