      <h1>Ilya Biryukov</h1>
      <span class="resumeNote">Front End Developer</span>
      <span class="resumeNote">(last revisited on @tx-revisionDateEn)</span>
      <dl class="contacts">
        <dt>E-mail</dt><dd><a href="mailto:uncle.funkay@gmail.com?subject=Regarding Resume">uncle.funkay@gmail.com</a></dd>
        <dt>Phone</dt><dd><a href="tel:+79182113792" class="phoneLink">+7 918 211-37-92</a></dd>
        <dt>Skype</dt><dd><a href="skype:buzz_Killingt0n?chat">buzz_Killingt0n</a></dd>
        <dt>GitHub</dt><dd><a href="https://github.com/uncleF">uncleF</a></dd>
      </dl>
