<h1>О себе</h1>
<p>Front end разработчик с 8-мью годами опыта разработки сайтов и веб-приложений (HTML5, CSS3, JavaScript). Имею опыт прототипирования и построения интерфейсов (сайты, приложения, e-mail, IPTV, интерактивные выставочные комплексы). Опыт в прототипировании и разработке native-приложений для iOS и Android. Опыт в управлении проектами.</p>
<ul>
	<li>Быстрая обучаемость.</li>
	<li>Глубокое понимание процесса и трудностей современной front end разработки.</li>
	<li>Умение находить эффективные решения для возникающих проблем.</li>
	<li>Чистый и понятный код.</li>
	<li>Способность работать в команде.</li>
	<li>Всегда в курсе последних событий индустрии front end разработки.</li>
	<li>Крайне озабочен вопросами эффективности процесса разработки, собственной продуктивности и профессионального роста.</li>
	<li>Хорошее знание английского.</li>
</ul>
<h2>Компетентен в:</h2>
<ul class="columns">
	<li>Адаптивном веб-дизайне (Responsive Web Design)</li>
	<li>Разработке для мобильных платформ</li>
	<li>Разработке одностраничных веб-приложений</li>
	<li>Верстке e-mail-шаблонов</li>
	<li>Разработке интерфейсов для систем IPTV</li>
	<li>Разработке лэндингов</li>
	<li>Интерфейсе современных браузеров</li>
	<li>Юзабилити</li>
	<li>Кросс-браузерной совместимости</li>
	<li>Оптимизации производительности front end'а</li>
	<li>Оптимизации в рамках Critical Rendering Path</li>
	<li>Прогрессивном совершенствовании (Progressive Enhancement) / Плавном упрощении (Graceful Degradation)</li>
	<li>Доступности</li>
	<li>Соответствии W3C стандартам</li>
	<li>Управлении веб-контентом</li>
	<li>Управлении проектами</li>
</ul>
<h2>Навыки</h2>
<ul>
	<li>HTML5, CSS3 (Sass), JavaScript (JQuery, Backbone.js, three.JS, etc.), SVG (Snap.svg, Raphael)</li>
	<li>Аудит производительности и доступности сайтов и веб-приложений (npm, RubyGems, веб-приложения и пр.)</li>
	<li>Node.js (npm, Grunt, Bower), XML</li>
	<li>Unity</li>
	<li>PHP, SQL</li>
	<li>Java, Objective-C</li>
</ul>
<h2>Инструменты</h2>
<ul>
	<li>Собственный открытый <a href="https://github.com/uncleF/TemplateX">инструмент</a> (мини-фреймфорк ) для быстрого развертывания среды разработки.</li>
	<li>Sublime Text, Eclipse, Xcode, Android Studio</li>
	<li>Grunt, Bower, Gulp, Apache Ant</li>
	<li>Adobe Photoshop, Pixelmator, Adobe Illustrator, Adobe Flash, Sketca SVG Editor, Inkscape</li>
	<li>Ghostlab, <a href="https://litmus.com">Litmus</a></li>
	<li>Basecamp, InVision, Megaplan, Toggl Desktop</li>
	<li>Git, <a href="https://github.com/">GitHub</a>, <a href="https://bitbucket.org/">BitBucket</a></li>
	<li>Wordpress, Drupal</li>
</ul>
<h1>Предыдущие места работы</h1>
<h2>Фриланс <span class="emplymentDate">Март 2014 - По настоящее время</span></h2>
<h3>Front end разработчик и консультант</h3>
<ul>
	<li>Разработал множество сайтов и веб-приложений.</li>
	<li>Создал инструмент на основе Grunt для автоматической сборки шаблонов для пропроитарного генератора лэндингов.</li>
	<li>Консультировал клиентов по вопросам производительности и доступности front end'а.</li>
</ul>
<h2><a href="http://spider.ru/">Digital-агентство Spider Group</a> <span class="emplymentDate">Февраль 2008 - Март 2014</span></h2>
<h3>Старший front end разработчик — <span class="emplymentDate">Январь 2012 - Март 2014</span></h3>
<ul>
	<li>Разработал множество сайтов и веб-приложений. В том числе и <a href="http://topliga.ru/">высоко нагруженный интернет-магазин</a>.</li>
	<li>С нуля спроектировал интерфейс <a href="https://itunes.apple.com/us/app/fingo.-furniture.-try-before/id567070760?mt=8">коммерческого iOS-приложения</a>.</li>
	<li>Проектировал и разрабатывал интерфейсы нескольких интерактивных выставочных комплексов.</li>
	<li>Отвечал за создание среды и организацию процесса front end разработки.</li>
	<li>Создал несколько инструментов для автоматизации некоторых аспектов процесса разработки.</li>
	<li>Консультировал коллег и клиентов по вопросам касающимся front end разработки.</li>
	<li>Получил опыт в управлении проектами и разработке native-приложений для iOS и Android.</li>
</ul>
<h3>Front end разработчик — <span class="emplymentDate">Февраль 2008 - Январь 2012</span></h3>
<ul>
	<li>Разработал множество сайтов и веб-приложений используя несколько CMS (на основе PHP и Python).</li>
	<li>Работал над <a href="http://www.kuban.ru/">высоко нагруженным региональным информационным порталом</a>.</li>
	<li>Участвовал в разработке интерфейсов интерактивных выставочных комплексов.</li>
	<li>Сверстал множество e-mail шаблонов.</li>
</ul>
<h2><a href="http://kubic.ru/">Кубанская Интернет Компания</a> <span class="emplymentDate">Декабрь 2006 - Август 2007</span></h2>
<h3>Front end разработчик</h3>
<ul>
	<li>Первые профессиональные шаги в качестве штатного front end разработчика.</li>
	<li>Разработал множество сайтов используя проприетарную CMS (на основе Perl).</li>
	<li>Работал над двумя высоко нагруженными проектами — <a href="http://www.yuga.ru/">региональным новостным порталом</a> и <a href="http://www.diary.ru/">социальной сетью</a>.</li>
</ul>
<h2>Freelance <span class="emplymentDate">До декабря 2006</span></h2>
<ul>
	<li>Front end разработчик</li>
	<li>Бессчетное число плохих сайтов на бесплатных хостингах...</li>
</ul>
<h1>Образование</h1>
<p>Диплом факультета прикладной математики <a href="http://www.kubsu.ru/">Кубанского Государственного Университета</a>.</p>
<h1>Примеры работы</h1>
<ul class="columns">
	<li><a href="http://ruport.ru/">http://ruport.ru/</a></li>
	<li><a href="http://зарулем23.рф/">http://зарулем23.рф/</a></li>
	<li><a href="http://shans23.ru/">http://shans23.ru/</a></li>
	<li><a href="http://buhtagold.ru/">http://buhtagold.ru/</a></li>
	<li><a href="http://cifra-group.ru/">http://cifra-group.ru/</a></li>
	<li><a href="http://emercit.ru/">http://emercit.ru/</a></li>
	<li><a href="http://buhtagold.ru/content/7/">http://buhtagold.ru/content/7/</a> (Интерактивная карта)</li>
	<li><a href="http://gsyp.ru/">http://gsyp.ru/</a></li>
	<li><a href="http://gsyp.ru/complex/building/2/">http://gsyp.ru/complex/building/2/</a></li>
	<li><a href="http://dvinuli.ru/">http://dvinuli.ru/</a></li>
	<li><a href="http://gold-age.org/">http://gold-age.org/</a></li>
	<li><a href="http://topliga.ru/">http://topliga.ru/</a></li>
	<li><a href="http://fingo.pro/">http://fingo.pro/</a></li>
	<li><a href="http://idisplay.spider.ru/">http://idisplay.spider.ru/</a></li>
	<li><a href="http://добрый.рф/упаковка">http://добрый.рф/упаковка</a></li>
	<li><a href="http://www.arkhyz-jivitsa.ru/landing/">http://www.arkhyz-jivitsa.ru/landing/</a></li>
	<li><a href="http://www.megavita-energy.ru/landing/">http://www.megavita-energy.ru/landing/</a></li>
	<li><a href="http://moscow.arkhyz-visma.ru/landing/">http://moscow.arkhyz-visma.ru/landing/</a></li>
</ul>
