// Base Properties

$sans-font: "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
$serif-font: Cambria, Georgia, Times, "Times New Roman", serif;
$monospace-font: "Courier New", Courier, Freemono, "Nimbus Mono L", monospace;

$white: #fff;
$red: #f00;
$redDark: #d00837;
$blue: #003b9e;
$blueLight: #488dc6;
$green: #007236;
$greenLight: #39b54a;
$greenLightAlt: #8dc63f;
$greenLightest: #6fe47f;
$gray: #666;
$grayLight: #bebebe;
$black: #000;



// Project Base Properties

$min-width: 640px;

$text: $black;
$link: $greenLight;
$visited: $greenLight;
$hover: $greenLightAlt;
$active: $greenLightAlt;
$focus-outline: $grayLight;

$background: $white;

$font: $sans-font;
$font-mono: $monospace-font;
$font-size: 16px;
$line-height: $font-size * 1.5;



// Project Properties

$tx-ie: false;

$spts-image: url(../images/sprites.png);
$spts: $spts-image no-repeat;

$gap: 30px;

$transitionUIInstant: .000001s linear;

$h1-font-size: $font-size * 2;
$h2-font-size: $font-size * 1.375;
$h3-font-size: $font-size * 1.15;
$h4-font-size: $font-size * 1.25;
$h5-font-size: $font-size * 1.125;
$h6-font-size: $font-size;



// TX Properties

$browser-font-size: 16px;
$font-unit: 1em;
$base-font-size: $font-size;
$base-line-height: $line-height;
$grid-background-baseline-color: rgba($blue, .25);
