// Layout

$breakpoints: (
  desktopMin: 720px,
  desktopWide: 1366px,
  desktopMax: 1920px,
  phoneMax: 720px
);

$breakpointsRem: (
  desktopMin: txf-breakpointRem(desktopMin),
  desktopWide: txf-breakpointRem(desktopWide),
  desktopMax: txf-breakpointRem(desktopMax),
  phoneMax: txf-breakpointRem(phoneMax)
);


// Gap

$gap: 30px;



// Content

$content-width: (txf-breakpoint(desktopMin));



// Header

$header-color: $white;
$header-background: $black;

$occupation-color: $grayDark;



// Footer

$footerColor: $white;

$updated-color: $grayDark;



// Contacts

$contactItem-color: $grayDark;

$contactsLink-color: $white;
$contactsLink-borderColor: $grayDark;



// Employment

$emplymentDate-color: $grayDark;
