// Colors

$white: #fff;
$red: #ff6e5a;
$blue: #337ab7;
$blueDark: #23527c;
$purple: #6f5499;
$gray: #ccc;
$grayDark: #5b5b5b;
$black: #2b2b2b;
$blackTrue: #000;

$underlineOpacity: .5;



// Default Colors

$text: $black;
$background: $white;

$print-color: $black;
$print-background: $white;

$link: $blue;
$visited: $purple;
$hover: $blueDark;
$active: $blueDark;
$focus-outlineColor: $gray;
