<section class="section section-about">
  <h2>Profile</h2>
  <p>Front-end developer with a&nbsp;5&nbsp;year <b>computer science</b> degree (from the <a href="http://www.kubsu.ru/en/">Kuban State University</a>), <b>10&nbsp;years of&nbsp;experience</b> and deep understanding of&nbsp;modern front-end development process and its challenges. Experienced in&nbsp;prototyping and developing user interfaces (sites, apps, emails, IPTV, IOT, interactive expo booths, etc.). Have some experience in&nbsp;project management and developing native apps for iOS and Android. Obsessed with efficient development workflow, personal productivity and constant growth as&nbsp;a&nbsp;developer.</p>
  <ul>
    <li>Able to&nbsp;complete projects rapidly and efficiently.</li>
    <li>Good problem solving and collaborative skills. Fast learner.</li>
    <li>Write clean and comprehensive code.</li>
    <li>Always up&nbsp;to&nbsp;date on&nbsp;everything concerning front-end development.</li>
    <li>Native Russian speaker.</li>
    <li>Proficient in&nbsp;English.</li>
    <li>Understand Portuguese (B2) and French (B1).</li>
    </ul>
  <h3>Areas of&nbsp;Expertise</h3>
  <ul>
    <li>Responsive Web Design/Development</li>
    <li>Complex Landing Pages, Single Page Progressive WebApps, E-mail Templates, IPTV&nbsp;UI, etc.</li>
    <li>UI/UX Pitfalls and Concerns in&nbsp;Modern Web Development</li>
    <li>Web Usability</li>
    <li>Cross-Browser Compatibility</li>
    <li>Front-end Performance &amp;&nbsp;Critical Rendering Path Optimizations</li>
    <li>Progressive Enhancement&nbsp;/ Graceful Degradation</li>
    <li>W3C and Accessibility Standards Compliance</li>
    <li>Content &amp;&nbsp;Project Management</li>
  </ul>
  <h3>Skills</h3>
    <ul>
    <li>HTML5, CSS3 (Sass, PostCSS), JavaScript (Vanilla JS, ES2015-, React/Preact, Vue, Redux, Node.js, THREE.JS, jQuery, Backbone.js, etc.), XML, SVG</li>
    <li>Front-end Performance and Accessibility Audit</li>
    <li>Efficient development tooling (npm, Grunt, Webpack, Gulp, etc.)</li>
    <li>PHP, C#, Objective-C, Java, SQL</li>
    <li>Unity, Laravel Homestead</li>
  </ul>
  <h3>Tools</h3>
  <ul>
    <li>An&nbsp;open source <a href="https://github.com/uncleF/TemplateX">development tool</a> for the rapid project workflow setup</li>
    <li>Sublime Text, Atom, Eclipse, Xcode, Android Studio</li>
    <li>Emmet, npm, Yarn, Grunt, Webpack, Gulp, Bower, Apache Ant</li>
    <li>Adobe Photoshop, Sketch, Blender, Inkscape, Adobe Illustrator</li>
    <li>Git, <a href="https://github.com/">GitHub</a>, <a href="https://bitbucket.org/">BitBucket</a></li>
    <li>Laravel, Wordpress, Drupal</li>
    <li>Trello, InVision, Basecamp, Toggl, Megaplan</li>
  </ul>
</section>
 <section class="section section-past">
  <h2>Past Employment</h2>
  <h3>
    <span class="emplymentDate">November 2016&nbsp;&mdash; Currently</span>
    <a href="http://rutorika.ru/">Rutorika Digital Agency</a>
  </h3>
  <h4>Senior Front-end Developer</h4>
  <ul>
    <li>Lead a&nbsp;team of&nbsp;awesome front-end developers.</li>
    <li>Responsible for setting up&nbsp;a&nbsp;front-end development pipeline.</li>
    <li>Developed multiple web sites and web applications.</li>
    <li>Continue to&nbsp;work as&nbsp;a&nbsp;volunteer for the <a href="http://fbk.info/">FBK (Anti-Corruption Foundation)</a>. Helped develop an&nbsp;online merchandising store.</li>
  </ul>
  <h3>
    <span class="emplymentDate">March 2014&nbsp;&mdash; November 2016</span>
    Freelance
  </h3>
  <h4>Front-end Developer &amp;&nbsp;Consultant</h4>
  <ul>
    <li>Developed multiple web sites and applications.</li>
    <li>Worked as&nbsp;a&nbsp;volunteer for the <a href="http://fbk.info/">FBK (Anti-Corruption Foundation)</a>. Had to&nbsp;work&nbsp;on (at&nbsp;times extremely) tight schedule and find solutions for complex, nontrivial problems.</li>
    <li>Built a&nbsp;Grunt-based template assembling tool for the proprietary landing page generator.</li>
    <li>Consulted clients on&nbsp;front-end performance and accessibility.</li>
  </ul>
  <h3>
    <span class="emplymentDate">February 2008&nbsp;&mdash; March 2014</span>
    <a href="http://spider.ru/en/">Digital-agency Spider Group</a>
  </h3>
  <h4>
    <span class="emplymentDate">January 2012&nbsp;&mdash; March 2014</span>
    Senior Front-end Developer
  </h4>
  <ul>
    <li>Developed multiple web sites and applications. Including <a href="http://topliga.ru/">high traffic e-commerce site</a>.</li>
    <li>Developed user interface for the <a href="https://itunes.apple.com/us/app/fingo.-furniture.-try-before/id567070760?mt=8">e-commerce iOS app</a> from scratch.</li>
    <li>Prototyped and developed&nbsp;UI for several expo booths.</li>
    <li>Was responsible for setting up&nbsp;front-end development workflow. Built several tools for automating development process.</li>
    <li>Consulted co-workers and clients on&nbsp;all matters concerning front-end development.</li>
    <li>Gained some experience in&nbsp;project management and native development for the iOS and Android.</li>
  </ul>
  <h4>
    <span class="emplymentDate">February 2008&nbsp;&mdash; January 2012</span>
    Front-end Developer
  </h4>
  <ul>
    <li>Developed multiple websites using several different content management systems (PHP, Python).</li>
    <li>Worked on&nbsp;a&nbsp;<a href="http://www.kuban.ru/">high traffic regional information portal</a>.</li>
    <li>Participated in&nbsp;development of&nbsp;interactive expo booths.</li>
    <li>Created numerous marketing e-mail templates.</li>
  </ul>
  <h3>
    <span class="emplymentDate">December 2006&nbsp;&mdash; August 2007</span>
    <a href="http://kubic.ru/">Kuban Internet Company</a>
  </h3>
  <h4>Front-end Developer</h4>
  <ul>
    <li>First professional steps as&nbsp;a&nbsp;fulltime employed front-end developer.</li>
    <li>Developed multiple websites using an&nbsp;in-house CMS (Perl).</li>
    <li>Briefly worked on&nbsp;two high traffic web projects&nbsp;&mdash; <a href="http://www.yuga.ru/">regional news portal</a> and <a href="http://www.diary.ru/">social networking site</a>.</li>
  </ul>
  <h3>
    <span class="emplymentDate">Before December 2006</span>
    Freelance
  </h3>
  <h4>Front-end Developer</h4>
  <ul>
    <li>String of&nbsp;awful web-sites built primarily for friends.</li>
    <li>First attempts to&nbsp;earn some money.</li>
    <li>...made some mistakes.</li>
  </ul>
</section>
<section class="section section-portfolio doNotPrint">
  <h2>Portfolio</h2>
  <!-- @tx-process:include portfolio/_links.html --><!-- /@tx-process -->
</section>
