<section class="section section-about">
  <article class="sectionContent">
    <h2>О себе</h2>
    <p>Front-end разработчик с дипломом факультета прикладной математики, 10-ю годами опыта и глубоким пониманием процесса и трудностей современной разработки. Имею опыт прототипирования и построения интерфейсов (сайты, приложения, e-mail, IPTV, интерактивные выставочные комплексы). Опыт в управлении проектами и разработке native-приложений для iOS и Android. Крайне озабочен вопросами эффективности процесса разработки, собственной продуктивности и профессионального роста.</p>
    <ul>
      <li>Умение находить эффективные решения для возникающих проблем.</li>
      <li>Быстрая обучаемость.</li>
      <li>Чистый и понятный код.</li>
      <li>Способность работать в команде.</li>
      <li>Всегда в курсе последних событий индустрии front-end разработки.</li>
      <li>Разговорный английский.
      <li>Понимаю французский и португальский.</li>
    </ul>
    <h3>Компетентен в:</h3>
    <ul class="columns">
      <li>Адаптивном веб-дизайне (Responsive Web Design)</li>
      <li>Разработке для мобильных платформ</li>
      <li>Разработке лэндингов</li>
      <li>Разработке одностраничных прогрессивных веб-приложений (Progressive Web Apps)</li>
      <li>Верстке e-mail-шаблонов</li>
      <li>Разработке интерфейсов для систем IPTV</li>
      <li>Интерфейсе современных браузеров</li>
      <li>Юзабилити</li>
      <li>Кросс-браузерной совместимости</li>
      <li>Оптимизации производительности front-end'а (Critical Rendering Path)</li>
      <li>Прогрессивном совершенствовании (Progressive Enhancement) / Плавном упрощении (Graceful Degradation)</li>
      <li>Соответствии W3C стандартам и формальным требованиям доступности</li>
      <li>Управлении веб-контентом</li>
      <li>Управлении проектами</li>
    </ul>
    <h3>Навыки</h3>
    <ul>
      <li>HTML5, CSS3 (Sass, PostCSS), JavaScript (Vanilla JavaScript, ES2015, jQuery, Backbone.js, node.js, Three.js, etc.), XML, SVG</li>
      <li>Аудит производительности и доступности сайтов и веб-приложений</li>
      <li>Эффективная работа с современными инструментами front-end-разработки (npm, Grunt, Gulp и пр.)</li>
      <li>Unity, PHP, SQL, Java, Objective-C</li>
    </ul>
    <h3>Инструменты</h3>
    <ul>
      <li>Собственный открытый <a href="https://github.com/uncleF/TemplateX">инструмент</a> для быстрого развертывания среды разработки.</li>
      <li>Sublime Text, Atom, Eclipse, Xcode, Android Studio</li>
      <li>Emmet, npm, Yarn, Grunt, Gulp, Webpack, Bower, Apache Ant</li>
      <li>Adobe Photoshop, Sketch, Blender, Inkscape, Adobe Illustrator</li>
      <li>Trello, Basecamp, InVision, Megaplan, Toggl Desktop</li>
      <li>Git, <a href="https://github.com/">GitHub</a>, <a href="https://bitbucket.org/">BitBucket</a></li>
      <li>Wordpress, Drupal</li>
    </ul>
  </article>
</section>
<section class="section section-past">
  <article class="sectionContent">
    <h2>Предыдущие места работы</h2>
    <h3>Фриланс <span class="emplymentDate">Март 2014 - По настоящее время</span></h3>
    <h4>Front-end разработчик и консультант</h4>
    <ul>
      <li>Разработал множество сайтов и веб-приложений.</li>
      <li>Работал волонтером на <a href="http://fbk.info/">Фонд Борьбы с Коррупцией</a>. Приходилось выполнять достаточно сложные, нетривиальные задачи в (иногда крайне) сжатые сроки.</li>
      <li>Создал инструмент на основе Grunt для автоматической сборки шаблонов для проприетарного генератора лэндингов.</li>
      <li>Консультировал клиентов по вопросам производительности и доступности front-end'а.</li>
    </ul>
    <h3><a href="http://spider.ru/">Digital-агентство Spider Group</a> <span class="emplymentDate">Февраль 2008 - Март 2014</span></h3>
    <h4>Старший front-end разработчик — <span class="emplymentDate">Январь 2012 - Март 2014</span></h4>
    <ul>
      <li>Разработал множество сайтов и веб-приложений. В том числе и <a href="http://topliga.ru/">высоко нагруженный интернет-магазин</a>.</li>
      <li>С нуля спроектировал интерфейс <a href="https://itunes.apple.com/us/app/fingo.-furniture.-try-before/id567070760?mt=8">коммерческого iOS-приложения</a>.</li>
      <li>Проектировал и разрабатывал интерфейсы нескольких интерактивных выставочных комплексов.</li>
      <li>Отвечал за создание среды и организацию процесса front-end разработки.</li>
      <li>Создал несколько инструментов для автоматизации некоторых аспектов процесса разработки.</li>
      <li>Консультировал коллег и клиентов по вопросам касающимся front-end разработки.</li>
      <li>Получил опыт в управлении проектами и разработке native-приложений для iOS и Android.</li>
    </ul>
    <h4>Front-end разработчик — <span class="emplymentDate">Февраль 2008 - Январь 2012</span></h4>
    <ul>
      <li>Разработал множество сайтов и веб-приложений используя несколько CMS (на основе PHP и Python).</li>
      <li>Работал над <a href="http://www.kuban.ru/">высоко нагруженным региональным информационным порталом</a>.</li>
      <li>Участвовал в разработке интерфейсов интерактивных выставочных комплексов.</li>
      <li>Сверстал множество e-mail шаблонов.</li>
    </ul>
    <h3><a href="http://kubic.ru/">Кубанская Интернет Компания</a> <span class="emplymentDate">Декабрь 2006 - Август 2007</span></h3>
    <h4>Front-end разработчик</h4>
    <ul>
      <li>Первые профессиональные шаги в качестве штатного front-end разработчика.</li>
      <li>Разработал множество сайтов используя проприетарную CMS (на основе Perl).</li>
      <li>Работал над двумя высоко нагруженными проектами — <a href="http://www.yuga.ru/">региональным новостным порталом</a> и <a href="http://www.diary.ru/">социальной сетью</a>.</li>
    </ul>
    <h3>Freelance <span class="emplymentDate">До декабря 2006</span></h3>
    <ul>
      <li>Front-end разработчик</li>
      <li>Бессчетное число плохих сайтов на бесплатных хостингах...</li>
    </ul>
  </article>
</section>
<section class="section section-portfolio doNotPrint">
  <article class="sectionContent">
    <h2>Портфолио</h2>
    <!-- @tx-process:include portfolio/_links.html --><!-- /@tx-process -->
  </article>
</section>
