<section class="section section-about">
  <h2>О&nbsp;себе</h2>
  <p>Разработчик с <strong><a href="http://www.kubsu.ru/en/">дипломом факультета прикладной математики</a></strong> и более чем <strong>десятью годами опыта</strong>.</p>
  <p>Владею <strong>разговорным английским</strong>. Понимаю <strong>португальский</strong> (B1) и <strong>французский</strong> (B1).</p>
  <h3>Инструменты</h3>
  <ul>
    <li><strong>Svelte</strong>, <strong>React</strong>, Vue и <strong>Electron</strong></li>
    <li><strong>Sass</strong>, <strong>Stylus</strong> и PostCSS</li>
    <li><strong>rollup</strong>, webpack, <strong>Grunt</strong> и прочее.</li>
  </ul>
</section>
<section class="section section-past">
  <h2>Предыдущие места работы</h2>
  <h3><a href="http://ruport.ru/">RU_PORT</a> (3 года)</h3>
  <ul>
    <li>Frontend Тимлид (2 года)</li>
    <li>Старший Frontend Разработчик (1 год)</li>
  </ul>
  <h3>Фриланс (2.5 года)</h3>
  <ul>
    <li>Frontend Разработчик и Консультант</li>
  </ul>
  <h3><a href="http://spider.ru/">Digital-агентство Spider Group</a> (6 лет)</h3>
  <ul>
    <li>Старший Frontend Разработчик (2.5 года)</li>
    <li>Frontend Разработчик (3.5 года)</li>
  </ul>
  <h3><a href="http://kubic.ru/">Кубанская Интернет Компания</a> (9 месяцев)</h3>
  <ul>
    <li>Frontend Разработчик</li>
  </ul>
  <h3>Фриланс</h3>
  <ul>
    <li>Frontend Разработчик</li>
  </ul>
</section>
