<section class="section section-about">
  <h2>Profile</h2>
  <p>Frontend developer with a&nbsp;<strong>5 year computer science degree</strong> (from <a href="http://www.kubsu.ru/en/">Kuban State University</a>), more than <strong>10 years of&nbsp;diverse experience</strong> and deep understanding of&nbsp;modern frontend development process and its challenges. Experienced in&nbsp;game development, prototyping and developing user interfaces, project and team management.</p>
  <p>Able to&nbsp;quickly come up&nbsp;with solutions for challenges of&nbsp;varying degrees of&nbsp;difficulty. Obsessed with efficient development workflow, personal productivity and constant growth as&nbsp;a&nbsp;developer.</p>
  <p>Speak English. Understand Portuguese (B1) and French (B1).</p>
  <h3>Experience</h3>
  <p>Worked on&nbsp;wide variety of&nbsp;different (by&nbsp;size and complexity) projects: sites, <strong>games</strong>, <strong>PWAs</strong>, IPTV, IoT, interactive expo booths. Audited <nobr>web-applications</nobr> for performance issues.</p>
  <p>Have experience working with <strong>Svelte</strong>, <strong>React</strong>, <strong>Unity</strong>, <strong>three.js</strong>, <strong>PIXI</strong> and <strong>Electron</strong>. Used <strong>TypeScript</strong>, <strong>Sass</strong>, PostCSS, <strong>esbuild</strong>, etc..</p>
  <p>Well versed in&nbsp;modern frontend tooling ecosystem&nbsp;&mdash; <strong>rollup</strong>, <strong>Snowpack</strong>, webpack, etc.</p>
  <p>Enjoy working with graphics (2D, SVG, WebGL) and sound, creating original interactive apps & games.</p>
  <p>Love working with pure <acronym title="HyperText Markup Language" lang="en">HTML</acronym>/CSS/JavaScript stack without template engines, preprocessors and frameworks.</p>
  <p>Passionate about web performance and accessibility.</p>
</section>
<section class="section section-past">
  <h2>Past Employment</h2>
  <h3>
    <span class="emplymentDate">October 2019&nbsp;&mdash; Currently</span>
    <a href="https://hgstudio.ru/">Happy Games Studio</a>
  </h3>
  <article class="article">
    <h4>Frontend Team Lead & Consultant, Unity Developer</h4>
    <ul>
      <li><strong>Lead a&nbsp;team</strong> of&nbsp;3 developers working on&nbsp;a&nbsp;<a href="https://ok.ru/dachagame">WebgGL-based browser game</a> (<strong>PixiJS</strong>).</li>
      <a>Actively participated in&nbsp;development of&nbsp;a&nbsp; <a href="https://play.google.com/store/apps/details?id=com.happygames.ships">Unity-based mobile game</a>.</li>
      <li>Developed a&nbsp;browser 3D <nobr>promo-game</nobr> with physics based gameplay (<strong>three.js</strong>, <strong>Cannon.js</strong>).</li>
      <li>Developed a&nbsp;dashboard for presentation and analysis of&nbsp;statistical data from the <strong>Qlik</strong> platform</li>
      <li>Participated in&nbsp;search and hiring new developers.</li>
    </ul>
  </article>
  <h3>
    <span class="emplymentDate">November 2016&nbsp;&mdash; September 2019</span>
    <a href="http://ruport.ru/">RU_PORT</a>
  </h3>
  <article class="article">
    <h4>
      <span class="emplymentDate">December 2017&nbsp;&mdash; September 2019</span>
      Frontend Team Lead
    </h4>
    <ul>
      <li><strong>Lead a&nbsp;team</strong> of&nbsp;4&nbsp;to&nbsp;7&nbsp;frontend developers.</li>
      <li>Developed 2&nbsp;large-scale portals for &nbsp;mall chains.</li>
      <li>Created 3&nbsp;navigation systems on&nbsp;the <strong><a href="https://visioglobe.com/">Visioglobe</a></strong> platform.</li>
      <li>Developed <a href="https://electronjs.org/">Electron-based</a></strong> desktop&nbsp;application.</li>
      <li>Developed &nbsp;<a href="https://wind-channel.com/en">website that won <strong>WOTD CSS Design Awards</strong> competition</a>.</li>
      <li>Implemented <strong>educational program</strong> for frontend developers.</li>
      <li>Started <strong>internship program</strong>.</li>
      <li>Participated in&nbsp;search and hiring new developers.</li>
      <li>As&nbsp;a&nbsp;<strong>full stack</strong> volunteer developed &nbsp;<a href="http://libertariansouth.ru">news site for a&nbsp;small regional NGO</a>.</li>
    </ul>
  </article>
  <article class="article">
    <h4>
      <span class="emplymentDate">November 2016&nbsp;&mdash; December 2017</span>
      Senior Frontend Developer
    </h4>
    <ul>
      <li>Was responsible for setting up&nbsp;a&nbsp;frontend development pipeline.</li>
      <li>Continued to&nbsp;work as&nbsp;a&nbsp;volunteer for <a href="http://fbk.info/">FBK (Anti-Corruption Foundation)</a>.</li>
    </ul>
  </article>
  <h3>
    <span class="emplymentDate">March 2014&nbsp;&mdash; November 2016</span>
    Freelance
  </h3>
  <article class="article">
    <h4>Frontend Developer &amp;&nbsp;Consultant</h4>
    <ul>
      <li>Developed multiple sites and applications for many different clients.</li>
      <li>Built a&nbsp;<strong>Grunt</strong>-based template assembly tool for a&nbsp;landing page generator.</li>
      <li>Advised clients regarding frontend <strong>performance</strong> and <strong>accessibility</strong>.</li>
      <li>Worked as&nbsp;a&nbsp;volunteer for <a href="http://fbk.info/">FBK (Anti-Corruption Foundation)</a>&nbsp;&mdash; often had to&nbsp;work on&nbsp;an&nbsp;<strong>extremely tight schedule</strong> and find <strong>solutions for complex, nontrivial problems</strong>.</li>
    </ul>
  </article>
  <h3>
    <span class="emplymentDate">February 2008&nbsp;&mdash; March 2014</span>
    <a href="http://spider.ru/en/">Digital Agency Spider Group</a>
  </h3>
  <article class="article">
    <h4>
      <span class="emplymentDate">January 2012&nbsp;&mdash; March 2014</span>
      Senior Frontend Developer
    </h4>
    <ul>
      <li>Developed multiple web sites and applications, including large-scale on-line sporting goods store.</li>
      <li><strong>Designed a&nbsp;UI</strong> for an&nbsp;e-commerce iOS app from scratch.</li>
      <li>Prototyped and developed UIs for several expo booths.</li>
      <li>Was responsible for setting up&nbsp;frontend development workflow in&nbsp;the company.</li>
      <li>Built several tools for automating development process.</li>
      <li><strong>Advised co-workers and clients</strong> on&nbsp;all matters concerning frontend development.</li>
      <li>Gained some experience in&nbsp;project management and native development for the iOS and Android.</li>
    </ul>
  </article>
  <article class="article">
    <h4>
      <span class="emplymentDate">February 2008&nbsp;&mdash; January 2012</span>
      Frontend Developer
    </h4>
    <ul>
      <li>Worked on&nbsp;a&nbsp;large-scale information portal.</li>
      <li>Participated in&nbsp;development of&nbsp;interactive expo booths.</li>
      <li>Created numerous templates for marketing mailing lists.</li>
    </ul>
  </article>
  <h3>
    <span class="emplymentDate">December 2006&nbsp;&mdash; August 2007</span>
    <a href="http://kubic.ru/">Kuban Internet Company</a>
  </h3>
  <article class="article">
    <h4>Frontend Developer</h4>
    <ul>
      <li>Developed sites on&nbsp;a&nbsp;proprietary platform.</li>
      <li>Worked on&nbsp;two large-scale projects&nbsp;&mdash; <a href="https://www.yuga.ru/">regional news portal</a> and a&nbsp;<a href="http://www.diary.ru/">social networking site</a>.</li>
    </ul>
  </article>
  <h3>
    <span class="emplymentDate">Before December 2006</span>
    Freelance
  </h3>
  <article class="article">
    <h4>Frontend Developer</h4>
    <ul>
      <li>String of&nbsp;awful web-sites built primarily for friends.</li>
      <li>...made some mistakes.</li>
    </ul>
  </article>
</section>
