<section class="section section-about">
  <h2>О&nbsp;себе</h2>
  <p>Frontend разработчик с&nbsp;<strong><a href="http://www.kubsu.ru/en/">дипломом факультета прикладной математики</a></strong>, более чем <strong>десятью годами разностороннего опыта</strong>, глубоким пониманием процессов и&nbsp;проблем современной <nobr>frontend-разработки</nobr>. Имею опыт в&nbsp;разработке игр, создании <nobr>UI-прототипов</nobr>, управлении проектами и&nbsp;командой.</p>
  <p>Способен находить эффективные решения для <nobr>бизнес-задач</nobr> различной сложности. Крайне озабочен вопросами эффективности рабочего процесса, собственной продуктивности и&nbsp;профессионального роста.</p>
  <p>Владею <strong>разговорным английским</strong>. Понимаю <strong>португальский</strong> (B1) и&nbsp;<strong>французский</strong> (B1).</p>
  <h3>Опыт</h3>
  <p>Работал над очень широким спектром задач: <strong><nobr>веб-приложения</nobr></strong>, сайты, <strong>игры</strong>, IPTV, IoT, интерактивные выставочные комплексы. Занимался аудитом производительности.</p>
  <p>Реализовывал проекты на&nbsp;<strong>Svelte</strong>, <strong>React</strong>, <strong>Unity</strong>, <strong>three.js</strong>, <strong>PIXI</strong> и&nbsp;<strong>Electron</strong>. Использовал <strong>TypeScript</strong>, <strong>Sass</strong>, PostCSS, <strong>esbuild</strong> и пр.</p>
  <p>Отлично ориентируюсь в&nbsp;современной экосистеме инструментов для разработки&nbsp;&mdash; Node.js, <strong>rollup</strong>, <strong>Snowpack</strong>, webpack и&nbsp;пр.</p>
  <p>Увлекаюсь работой с&nbsp;графикой (2D, SVG, WebGL) и звуком, разработкой оригинальных <strong>интерактивных приложений</strong> и&nbsp;<strong>игр</strong>.</p>
  <p>Люблю работать со&nbsp;стэком <acronym title="HyperText Markup Language" lang="en">HTML</acronym>/CSS/JavaScript в&nbsp;чистом виде&nbsp;&mdash; без шаблонизаторов, препроцессоров и&nbsp;фреймворков.</p>
  <p>Трепетно отношусь к&nbsp;вопросам производительности и&nbsp;доступности.</p>
</section>
<section class="section section-past">
  <h2>Предыдущие места работы</h2>
  <h3>
    <span class="emplymentDate">Октябрь 2019&nbsp;&mdash; Настоящее время</span>
    <a href="https://hgstudio.ru/">Happy Games Studio</a>
  </h3>
  <article class="article">
    <h4>Frontend Тимлид и&nbsp;Консультант, Unity Разработчик</h4>
    <ul>
      <li><strong>Возглавлял команду</strong> разработки <a href="https://ok.ru/dachagame">браузерной <nobr>WebGL-игры</nobr></a> (<strong>PixiJS</strong>) из&nbsp;<nobr>3-х</nobr> разработчиков.</li>
      <li>Участвовал в&nbsp;разработке <a href="https://play.google.com/store/apps/details?id=com.happygames.ships">мобильной игры в&nbsp;среде <strong>Unity</strong></a>.</li>
      <li>Разработал трехмерную браузерную <nobr>промо-игру</nobr> с&nbsp;геймплеем основанным на&nbsp;физике (<strong>three.js</strong>, <strong>cannon.js</strong>).</li>
      <li>Разработал дэшборд для представления и&nbsp;анализа статистических данных из&nbsp;системы <strong>Qlik</strong>.</li>
      <li>Участвовал в&nbsp;поиске новых разработчиков.</li>
    </ul>
  </article>
  <h3>
    <span class="emplymentDate">Ноябрь 2016&nbsp;&mdash; Сентябрь 2019</span>
    <a href="http://ruport.ru/">RU_PORT</a>
  </h3>
  <article class="article">
    <h4>
      <span class="emplymentDate">Декабрь 2017&nbsp;&mdash; Сентябрь 2019</span>
      Frontend Тимлид
    </h4>
    <ul>
      <li><strong>Возглавлял команду</strong> frontend разработчиков (от&nbsp;4-х&nbsp;до&nbsp;7-ми&nbsp;человек).</li>
      <li>Разработал 2&nbsp;портала для сетей торговых центров.</li>
      <li>Создал 3&nbsp;навигационные системы на&nbsp;платформе <strong><a href="https://visioglobe.com/">Visioglobe</a></strong>.</li>
      <li>Разработал приложение на&nbsp;платформе <strong><a href="https://electronjs.org/">Electron</a></strong>.</li>
      <li>Разработал <a href="https://wind-channel.com/en">сайт, победивший в&nbsp;конкурсе <strong>WOTD CSS Design Awards</strong></a>.</li>
      <li>Создал и&nbsp;внедрил <strong>образовательную программу</strong> для frontend разработчиков внутри компании.</li>
      <li>Провел несколько <strong>стажировок</strong>.</li>
      <li>Участвовал в&nbsp;поиске и&nbsp;найме новых разработчиков.</li>
      <li>Как <strong>full stack</strong> волонтер создал новостной сайт для <a href="http://libertariansouth.ru">региональной общественной организации</a>.</li>
    </ul>
  </article>
  <article class="article">
    <h4>
      <span class="emplymentDate">Ноябрь 2016&nbsp;&mdash; Декабрь 2017</span>
      Старший Frontend Разработчик
    </h4>
    <ul>
      <li>Отвечал за&nbsp;организацию процесса frontend разработки.</li>
      <li>Продолжал работать в&nbsp;качестве разработчика-волонтера.</li>
    </ul>
  </article>
  <h3>
    <span class="emplymentDate">Март 2014&nbsp;&mdash; Ноябрь 2016</span>
    Фриланс
  </h3>
  <article class="article">
    <h4>Frontend Разработчик и&nbsp;Консультант</h4>
    <ul>
      <li>Разработал множество сайтов и&nbsp;веб-приложений для разных клиентов.</li>
      <li>Создал инструмент на&nbsp;основе <strong>Grunt</strong> для автоматической сборки шаблонов для генератора лэндингов.</li>
      <li>Консультировал клиентов по&nbsp;вопросам <strong>производительности и&nbsp;доступности</strong> сайтов.</li>
      <li>Работал разработчиком-волонтером в&nbsp;общественной организации&nbsp;&mdash; зачастую приходилось выполнять достаточно сложные и&nbsp;<strong>нетривиальные задачи в&nbsp;очень сжатые сроки</strong>.</li>
    </ul>
  </article>
  <h3>
    <span class="emplymentDate">Февраль 2008&nbsp;&mdash; Март 2014</span>
    <a href="http://spider.ru/">Digital-агентство Spider Group</a>
  </h3>
  <article class="article">
    <h4>
      <span class="emplymentDate">Январь 2012&nbsp;&mdash; Март 2014</span>
      Старший Frontend Разработчик
    </h4>
    <ul>
      <li>Участвовал в&nbsp;разработке множества сайтов и&nbsp;веб-приложений, в&nbsp;том числе высоконагруженного интернет-магазина спортивных товаров.</li>
      <li>С&nbsp;нуля <strong>спроектировал интерфейс</strong> коммерческого iOS-приложения.</li>
      <li><strong>Проектировал и&nbsp;разрабатывал интерфейсы</strong> нескольких интерактивных выставочных комплексов.</li>
      <li>Отвечал за&nbsp;поддержание рабочей среды и&nbsp;общую организацию процесса frontend разработки в&nbsp;компании.</li>
      <li>Создал несколько инструментов для автоматизации некоторых аспектов процесса разработки.</li>
      <li><strong>Консультировал коллег и&nbsp;клиентов</strong> по&nbsp;вопросам, касающимся frontend разработки.</li>
      <li>Получил небольшой опыт в&nbsp;управлении проектами и&nbsp;разработке native-приложений для iOS и&nbsp;Android.</li>
    </ul>
  </article>
  <article class="article">
    <h4>
      <span class="emplymentDate">Февраль 2008&nbsp;&mdash; Январь 2012</span>
      Frontend Разработчик
    </h4>
    <ul>
      <li>Работал над высоконагруженным информационным порталом.</li>
      <li>Участвовал в&nbsp;разработке интерфейсов интерактивных выставочных комплексов.</li>
      <li>Сверстал множество шаблонов для маркетинговых рассылок.</li>
    </ul>
  </article>
  <h3>
    <span class="emplymentDate">Декабрь 2006&nbsp;&mdash; Август 2007</span>
    <a href="http://kubic.ru/">Кубанская Интернет Компания</a>
  </h3>
  <article class="article">
    <h4>Frontend Разработчик</h4>
    <ul>
      <li>Занимался разработкой сайтов на&nbsp;проприетарной платформе.</li>
      <li>Работал над двумя высоконагруженными проектами: <a href="https://www.yuga.ru/">региональным новостным порталом</a> и&nbsp;<a href="http://www.diary.ru/">социальной сетью</a>.</li>
    </ul>
  </article>
  <h3>
    <span class="emplymentDate">До&nbsp;декабря 2006</span>
    Фриланс
  </h3>
  <article class="article">
    <h4>Frontend Разработчик</h4>
    <ul>
      <li>Бессчетное число плохих сайтов на&nbsp;бесплатных хостингах...</li>
    </ul>
  </article>
</section>
